services:
  backend:
    image: fittrek-backend
    build:
      context: .
      dockerfile: ./deploy/backend.Dockerfile
      network: host
    restart: always
    ports:
      - "3000"

  nginx:
    image: fittrek-nginx
    build:
      context: .
      dockerfile: ./deploy/nginx.Dockerfile
    restart: always
    ports:
      - "8756:80"

  db:
    image: mongo:latest
    restart: always
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://db:27017/
    volumes:
      - ./db:/data/db
