extends layout

block content
    h1 Privacy policy
    p FitTrek aims to keep track of the minimal amount of data required. At the moment, the following pieces of data are kept on you, through your Google account:
    ul
      li Your name. This is needed to greet and adress you.
      li The number of meters you have traveled since you signed up, reported by Google Fit. This is the main functionality of FitTrek: to apply this distance to virtual hikes. Note that only your total distance is stored. Your location or intermediate distances are not stored.
    p
      | All of this data is visible to you when you are logged in. If you would like this data removed, you can 
      a(href='/delete') delete your account 
      | and the data will be removed from FitTrek's database. For more specific requests regarding your data, feel free to 
      a(href='https://zkrueger.com') contact 
      | me.
    p FitTrek does not share any user data with third parties.
