server {
    server_name fit.zkrueger.com;

    location / {
        proxy_pass http://backend:3000;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
    }

    location /public {
        root /usr/share/nginx/html;
    }

    listen 80 default_server;
}
